@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 300;
  src: local('Arima Madurai Light'), local('ArimaMadurai-Light'), url(./t5t7IRoeKYORG0WNMgnC3seB1ZXtupymeg.ttf) format('truetype');
}
